service cloud.firestore {
  match /databases/{database}/documents {
    match /chat_history/{document=**} {
      allow read, write: if true;
    }
  }
}
